body{
font-family:Arial;
margin:0;
background:#f4f6f9;
}

.navbar{
background:#0b5ed7;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

.navbar a{
color:white;
margin-left:20px;
cursor:pointer;
font-weight:bold;
}

.container{
padding:40px;
text-align:center;
}

.card{
background:white;
padding:25px;
width:400px;
margin:auto;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
width:100%;
padding:10px;
margin-top:10px;
}

button{
margin-top:15px;
padding:12px;
width:100%;
background:#0b5ed7;
color:white;
border:none;
cursor:pointer;
}

.hidden{
display:none;
}